@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../base/base' as *;
@use '../base/reset' as *;


button {
    background-color: $color-secondary;
    color: $color-white;
    border: 1px solid $color-dark;
    border-radius: 8px;
    padding: 0.5rem;
    margin: 0 2px 5px 2px;
    transition: all 0.3s ease;

    cursor: pointer;
    &:hover {
        background-color: $color-primary;
        transform: scale(1.1);
    }
}

.btn-enviar {
    background: $color-dark;
    color: $color-light;
    border: none;
    padding: 1rem 2rem;
    border-radius: 4px;
    font-family: $font-secondary;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 180px;
    
    &:hover {
    background: $color-primary;
    }
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    gap: 1rem;
    &__content {
        background: $color-light;
        padding: 2px 8px;
    }
}
.tab-btn{
    padding: 0.8rem 0.8rem;
    background-color: $color-light;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: $font-secondary;
    font-weight: bolder;
    color: $color-dark;
    &:hover {
        background-color: $color-primary;
        color: white;
    }
    &.active {
        background-color: $color-secondary;
        color: white
    }
}