@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../base/base' as *;
@use '../base/reset' as *;

.card {
    &__item {
        position: relative;
        transition: all 1s ease;

        &.active{
            margin-right: 300px;
        }
    }
    &__img {
        border: none;
        background: none;
        padding: 0;
        cursor: pointer;
        transition: transform 0.3s, box-shadow 0.3s;
        width: 100%;
        &:hover {
            transform:scale(1.015);
        }
        & img {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            border: 2px solid #fff;
            width: 150px;
            height: 200px;
            object-fit: cover;

            &:hover {
                border-color: $color-secondary;
            }
        }
    }
    &__content {
        position: absolute;
        left: 150px;
        top:0;
        width: 300px;
        height: 204px;
        background-color: white;
        padding: 0px 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        opacity: 0;
        transform: translateX(-50px);
        transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.1);
        overflow-y:auto;
        box-sizing:border-box;

        &.show {
            opacity: 1;
            visibility: visible;
            transform: translateX(0);
        }
        & h2 {
            color:$color-primary;
            font-family: $font-primary;

        }
        & li {
            line-height: 1.5;
        }
    }
}