@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

* {
    box-sizing: border-box;
  }

  .techdesign {
    &__body {
      font-family: 'Segoe UI', system-ui, -apple-system, sans-serif;
      color: $dark-color;
    }
  }