@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$color-primary:#2e8b57;
$color-secondary: #6e9167;
$color-light:#e8d4b9;
$color-dark: #07311f;
$color-gray: rgb(166, 166, 166);
$color-white: #fff;
$text-color: black;

$font-primary: monospace;
$font-secondary: 'Montserrat', sans-serif;
$font-size-base: 16px;

$spacing-xs: 0.5rem;
$spacing-sm: 1rem;
$spacing-md: 1.5rem;
$spacing-lg: 2rem;

