$primary-color: #4028a9;
$secondary-color: #6c757d;
$dark-color:  #281872;
$light-color: #f8f9fa;
$highlight-color: #5430f5;



$shadow: 1px 1px 3px rgba(0,0,0,0.5);

$font-primary: monospace;
$font-secondary: 'Montserrat', sans-serif;
$font-size-base: 16px;

$spacing-xs: 0.5rem;
$spacing-sm: 1rem;
$spacing-md: 1.5rem;
$spacing-lg: 2rem;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

$enable-rounded: true;
$enable-shadows: true;
