@use '../abstracts/variables'  as *;
@use '../abstracts/mixins' as *;
@use '../base/base'  as *;
@use '../base/reset' as *;

.contacto {
    &__contenedor{
        max-width: 1200px;
        margin: 1rem auto;
        padding: 0 20px;
    & h1 {
        font-family: $font-primary;
        color: $color-dark;
        text-align: center;
        margin-bottom: 0.5rem;
    }
    }
    &__contenido {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        @media (max-width: 768px) {
            grid-template-columns: 1fr;
          }
    }
    &__formulario {
        background: $color-secondary;
        padding: 2rem;
        border-radius: 5px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.05);
        h2 {
            color: $color-dark;
            margin-top: 0;
            margin-bottom: 1rem;
        }
    }
}